
.purple-callout {
    background-color: #4d0a3e;

    p {
        font-family: 'korolev', sans-serif;
        padding: 22px 27px 20px;
        margin-bottom: 0;
        font-weight: 500;

        @include mq('sm') {
            padding: 27px percentage(27/296);
        }
    }

    .wrap--content {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}